body {
	background: url(background.jpg);
}
.jumbotron{
	text-align: center;
	background: transparent !important;
	border-radius: 100px;
	height: 500px;
	margin: 30px 50px 0 50px;
}
hr {
	display: inline-block;
	background-color: black;
	width: 350px;
}
h1.display-1{
	font-family: Cursive;
	font-size: 8em;
	margin-bottom: 50px;
}
h3 {
	font-family: "Helvetica", "Verdana";
	font-size: 2em;
}
#amper {
	font-size: 2em;
}
#blue{
	background-color: #4d56a3;
	padding: 5px;
}
#cyan{
	background-color: #68b8c3;
	padding: 20px;
	border: 3px solid black;
}
#orange{
	padding: 5px;
	background-color: #fe9843;
}
#purple{
	padding: 5px;
	background-color: #ae5fb2;
}
.button {
	text-align: center;
	margin-top: 40px;
}
#anim {
	animation-duration: 1s;
	animation-name: blink;
	animation-iteration-count: infinite;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
